.box {
    background: lightblue;
}

.box .title {
    font-size: 20px;
    color: lightcoral;
}

.list {
    font-size: 14px;
}

.list a {
    color: #000;
}

.list a:hover {
    color: red;
}

/* 样式类名不会经过编译 */
:global(.clearfiex) {
	clear: both;
}

/* 
把 link 赋值给元素之后，给元素加 list 和 link 两个样式类名 
相当于元素同时具有 list 和 link 两个样式类名
*/
.link {
    composes: list;
    color: lightcoral;
}